body {
  background-color: #fff;
}

#contents {
  width: 800px;
  margin-right: auto;
}

table.times {
  border-collapse: collapse;
}

table.times td, th {
  border: 1px solid #ccc;
}

div.stopMap {
  width: 200px;
  height: 200px;
}
