<% form_for :hitch, :url => { :action => "lookup" }, :html => { :method => :get } do |f|%>
  <p class="from">
    <%= f.label :from_location, "Where are you?" %><br/>
    <%= f.text_field :from_location %>
  </p>
  <p class="submit"><%= f.submit "Find buses!" %></p>
<% end %>
